JDBCProject/settings
JDBCProject/build
JDBCProject/WebContent/WEB-INF/lib
JDBCProject/.classpath
JDBCProject/.project
jdbc-maven-setUp/.settings
jdbc-maven-setUp/target
jdbc-maven-setUp/.classpath
jdbc-maven-setUp/.project
